
            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">

                            {% for app in site.data.apps %}

                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/assets/images/feature-icon-01.svg" alt="Feature">
                                    </div>
                                    <h4 class="feature-title mt-24">{{ app.name }}</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat
                                        nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis.
                                        Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>